@import "../_config.scss";
@import "../_mixin.scss";
.render-header {
    width: 100%;
    height: pxTorem(44px);
    line-height: pxTorem(44px);
    background-color: $header-bg;
}

.header {
    width: 100%;
    height: pxTorem(44px);
    line-height: pxTorem(44px);
    background-color: $header-bg;
    border-bottom: 1px solid $header-line-bg;
    position: relative;
    .icon-sign {
        width: pxTorem(44px);
        height: pxTorem(44px);
        @include bg("../../imgs/icon-sign.png");
        background-size: pxTorem(22px);
        position: absolute;
        left: 0;
        top: 0;
    }
    .icon-person {
        width: pxTorem(44px);
        height: pxTorem(44px);
        @include bg("../../imgs/icon-person.png");
        background-size: pxTorem(16px);
        position: absolute;
        right: 0;
        top: 0;
    }
    .switch-tab {
        width: pxTorem(120px);
        margin: 0 auto;
        display: flex;
        position: relative;
        span {
            flex: 1;
            text-align: center;
            color: $black-color;
            font-size: pxTorem(14px);
            &.active {
                color: $tab-active-color;
            }
        }
        .line {
            width: 50%;
            position: absolute;
            left: 0;
            bottom: -1px;
            transition: transform .5s;
            &:before {
                content: '';
                width: pxTorem(34px);
                height: pxTorem(1px);
                display: block;
                background-color: $black-color;
                margin: 0 auto;
            }
            &.move {
                transform: translate3d(pxTorem(60px), 0, 0)
            }
        }
    }
    .icon-back {
        width: pxTorem(44px);
        height: pxTorem(44px);
        @include bg("../../imgs/icon-back.png");
        background-size: pxTorem(22px);
        position: absolute;
        left: 0;
        top: 0;
    }
    .search-ipt {
        height: pxTorem(34px);
        margin: 0 pxTorem(20px) 0 pxTorem(44px);
        position: relative;
        top: pxTorem(4px);
        background-color: $write-color;
        display: flex;
        .header-icon-search {
            width: pxTorem(34px);
            height: pxTorem(34px);
            @include bg("../../imgs/icon-search.png");
            background-size: pxTorem(14px);
            border-right: 1px solid $border-color;
        }
        input {
            flex: 1;
            padding: 0 pxTorem(10px);
        }
        .search-input-btn {
            width: pxTorem(46px);
            height: pxTorem(34px);
            text-align: center;
            line-height: pxTorem(34px);
            border-left: 1px solid $border-color;
        }
    }
    .icon-back {
        width: pxTorem(44px);
        height: pxTorem(44px);
        @include bg("../../imgs/icon-back.png");
        background-size: pxTorem(22px);
        position: absolute;
        left: 0;
        top: 0;
    }
    .header-title {
        padding-left: pxTorem(44px);
        font-size: pxTorem(14px);
        color: $black-color;
    }
    .icon-home {
        width: pxTorem(44px);
        height: pxTorem(44px);
        @include bg("../../imgs/icon-home.png");
        background-size: pxTorem(16px);
        position: absolute;
        right: 0;
        top: 0;
    }
}