@import "../_mixin.scss";
@import "../_config.scss";
.shelf-list {
    width: 100%;
    li:nth-child(1) {
        a {
            padding: 0 pxTorem(15px) pxTorem(15px) pxTorem(15px);
        }
    }
    a {
        display: flex;
        padding: pxTorem(15px);
        border-bottom: pxTorem(1px) solid $search-border;
        .book-cover {
            width: pxTorem(100px);
            height: pxTorem(140px);
            img {
                @include wh;
            }
            background-color: $book-bg;
            box-shadow: 0px pxTorem(6px) pxTorem(5px) pxTorem(-3px) $book-shadow-color;
            border: pxTorem(1px) solid $book-border-color;
            border-bottom: none;
        }
        .book-info {
            flex: 1;
            margin-left: pxTorem(10px);
            .title {
                font-size: pxTorem(16px);
                color: $black-color;
                margin: pxTorem(6px) 0;
            }
            .author,
            .newest {
                font-size: pxTorem(14px);
                color: $gray-color;
                line-height: 2;
            }
            .summary {
                font-size: pxTorem(14px);
                color: $gray-color;
                margin-bottom: pxTorem(6px);
                @include line(2)
            }
        }
    }
    &.list-type {
        display: flex;
        flex-flow: wrap;
        li {
            width: 33.3%;
            display: flex;
            a {
                width: pxTorem(100px);
                padding: 0 pxTorem(15px);
                border-bottom: none;
                flex-direction: column;
                .book-info {
                    margin-left: 0;
                    .title {
                        font-size: pxTorem(12px);
                    }
                    .author,
                    .newest {
                        display: none;
                    }
                }
            }
            &:nth-child(3n+1) {
                justify-content: flex-start;
            }
            &:nth-child(3n+2) {
                justify-content: center;
            }
            &:nth-child(3n) {
                justify-content: flex-end;
            }
        }
    }
}